.imgMoto {
  position: relative;
  top: 2rem;
}

.cartWidget {
  position: fixed;
  top: 90%;
  left: 94.5%;
  z-index: 999;
}

#cartWidgetButton {
  font-size: 25px;
  padding: 1rem;
}

.cartWidgetCount {
  font-size: 0.7rem;
  background-color: black;
  position: absolute;
  top: 0;
  left: 70%;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #888;
}

::-webkit-scrollbar-thumb {
  background: #f47c3c;
  border-radius: 3rem;
}

.bannerContainer {
  height: fit-content;
  background-image: url("../assets/img/fondo.jpg");
  margin-bottom: 3rem;
}

@media screen and (max-width: 1399px) {
  .imgMoto {
    position: static;
  }

  .bannerContainer {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 1199px) {
  .cartWidget {
    left: 92%;
  }
}

@media screen and (max-width: 991px) {
  .cartWidget {
    left: 90%;
  }
}

@media screen and (max-width: 767px) {
  .cartWidget {
    left: 88%;
  }
}

@media screen and (max-width: 575px) {
  .cartWidget {
    left: 83%;
  }
}
